/* ========== SLIDER STYLES ========== */

/* W3C Styling */
.w3-badge,.w3-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.w3-badge{border-radius:50%}
.w3-tooltip,.w3-display-container{position:relative}.w3-tooltip .w3-text{display:none}.w3-tooltip:hover .w3-text{display:inline-block}
.w3-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.w3-tiny{font-size:10px!important}.w3-small{font-size:12px!important}.w3-medium{font-size:15px!important}.w3-large{font-size:18px!important}
.w3-transparent,.w3-hover-none:hover{background-color:transparent!important}
.w3-text-white,.w3-hover-text-white:hover{color:#fff!important}
.w3-section,.w3-code{margin-top:16px!important;margin-bottom:16px!important}
.w3-left{float:left!important}.w3-right{float:right!important}
.w3-border-0{border:0}.w3-border{border:1px solid #ccc!important}
.w3-black,.w3-hover-black:hover{color:#fff!important;background-color:#000!important}

.page-heading {
  margin-top: 20px;
}


/* Remove the Default Image Carousel */
.heroCarousel {
  display: none;
}

/* Remove the left align padding from slider to be flush with page layout */
.slider-wrapper {
padding: 0! important;
}

/* Wrap the Entire Column */
.column-wrapper {
height: 100%;
overflow: hidden;
}

/* Inner Column */
.column-wrapper-inner {
height: 100%;
overflow: hidden;

}

/* Slider Container */
.slider-container {
display: inline-block;
width: 65%;
float: left;
}

/* Slider Images */
.mySlides {
width: 100%;
}

/* Side Image Wrapper */
.sale-wrapper {
display: inline-block;
width: 32%;
float: left;
margin-left: 8px;
}

/* Side Images */
.sale-wrapper img {
width: 100%;
}

/* Arrows */
.w3-left, .w3-right {
font-size: 3.5em;
margin-top: -55px;
padding: 10px;
background: rgba(100, 100, 100, 0.2);
margin-left: 5px;
margin-right: 5px;
}

.w3-center {
top: 50%;
bottom: 50%;
margin-bottom: 20px;
}

.dots-wrapper {
text-align: center;
margin-top: -30px;
}

.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}

.mySlides:first-of-type {
display: block;
}

/* Hide Slider navigation by Default, in case Javascript does not load. */

/* Slider: Left Arrow */
div.w3-left {
display: none;
}

/* Slider: Right Arrow */
div.w3-right {
display: none;
}
/* Dots buttons in slider */
.dots {
display: none;
}

/* Set Properties for Hovered Image */
.sale-wrapper a:hover img {
opacity: 1;
height: auto;
transition: .5s ease;
backface-visibility: hidden;
}

/* Opacity Hover Effect */
.sale-wrapper a:hover img {
opacity: 0.8;
}


@media (min-width: 1250px) {

 #slider-container {
   width: 106%;
 }
}

@media (max-width: 551px) {
/* Arrows */
.w3-left, .w3-right {
  font-size: 2.5em;
  margin-top: -55px;
}

/* Slider Container */
.slider-container {
  display: inline-block;
  width: 100%;
  margin-bottom: 33px;
}

.sale-wrapper {
  clear: left;
  width: 103%;
  margin: 0;
}

.sale-wrapper img:first-of-type {
  padding-left: 0;
}

.sale-wrapper img {
  display: inline-block;
  float: left;
  width: 49%;
  padding-left: 5px;
}
}

/* ========== END SLIDER STYLES ========== */

/* ========== START CAROUSEL STYLES ========== */



/* ========== END CAROUSEL STYLES ========== */